button:hover {
    cursor: pointer;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: clamp(200px, 25vw, 400px) 1fr;
}

#container > * {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr min-content;
}

.bottom {
    text-align: right;
}

#sidebar {
    background-color: lightskyblue;
}

.project-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 10px;
    background-color: rgba(250, 250, 250, 0.5);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: left;
}

.project-btn:hover, .project-btn.active {
    background-color: rgba(5, 5, 5, 0.5);
    color: white;
}

#main {
    background-color: cornsilk;
    overflow: auto;
}

.project-title {
    margin-top: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-descr {
    font-style: italic;
}

.todo {
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
}

.todo-main {
    display: grid;
    grid-template-columns: 24px 3fr 2fr 24px;
    column-gap: 10px;
    align-items: center;
    background-color: gray;
    color: white;
    padding: 3px;
}

.todo-detail {
    display: grid;
    grid-template-columns: 3fr 2fr 24px;
    column-gap: 10px;
    align-items: center;
    padding: 3px 3px 3px 37px;
}

.icon {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.icon.undone {
    background-image: url(./img/circle-outline.svg);
}

.icon.done {
    background-image: url(./img/circle.svg);
}

.todo-title.done{
    text-decoration: line-through;
    color: lightgray;
}

.due-date.done {
    color: lightgreen;
}

.expand {
    background-image: url(./img/arrow-expand.svg);
}

.collapse {
    background-image: url(./img/arrow-collapse.svg);
}

.collapsed {
    display: none;
}

.todo-add {
    background-image: url(./img/shape-circle-plus.svg);
}

.save {
    background-image: url(./img/content-save-outline.svg);
}