#container {
    height: 100vh;
    display: grid;
    grid-template-columns: clamp(200px, 25vw, 400px) 1fr;
}

#container > * {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr min-content;
}

.bottom {
    text-align: right;
}

#sidebar {
    background-color: lightskyblue;
}

#main {
    background-color: cornsilk;
    overflow: auto;
}